*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.d-flex{
    display: flex;
}
.f-wrap{
    flex-wrap: wrap;
}
.d-column{
    flex-direction: column;
}
.j-end{
    justify-content: end;
}
.a-content{
    align-content: end;
}
.j-bet{
    justify-content: space-between;
}
.a-items{
    align-items: center;
}
.j-center{
    justify-content: center;
}

/* ID */
#bottom{
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: #282828;
}
#top{
    width: 100%;
    height: calc(100vh - 75px);
    background-color: chocolate;
}
#main{
    width: calc(100vw - 50px);
    background-color: #141922;
    position: fixed;
    right: 0;
}

#sidebar{
    width: 50px;
    height: calc(100vh - 75px);
    background-color: black;
    position: fixed;
    z-index: 1;
    left: 0;
}

header{
    width: calc(100% - 50px);
    height: 75px;
    background-color: #080B12;
    position: fixed;
    top:0;
    right: 0;
    justify-content: end;
    align-items: center;
}
/* regole container */
.main-content{
    height: calc(100vh - 75px);
    overflow: auto;
        
}
.top-content{
    display: flex;
    height: 100%;
    background-color: aqua;
}
.container{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-s{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.main content, .col{
    width: calc(100% / 2 - 20px);
    margin: 10px;
    text-align: center;
}

.main content, .col-full{
    width: calc(100% - 20px);
    margin: 10px;
    justify-content: center;
}
header>button{
    border: 1 px solid white;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    padding: 10px 40px;
    margin-right: 20px;
}
.col-full>ul{
    justify-content: space-around;
    list-style-type: none;
    margin-top: 75px;
}
.col-full>h2{
    color: white;
}
.col-full>p{
    color: lightgray;
}
.col>h2, h3{
    color: white
}
.col>p{
    color: lightgray;
}
li{
    margin: 10px;
    color: lightgray;
}
.col>img{
    width: 100%;
}
.circle>img{
    border-radius: 50%;
}
.col-25{
    height: calc(100% / 2);
    width: 100%;
}
.col-30{
    width: 30%;
}
.col-40{
    width: 40%;
}
.col-50{
    height: 50%;
    width: 100%;
}
.col-25>img{
    width: 100%;
    padding:5px 10px
}
.image{
    height: 75px;
    width: 50%;
}
.text{
    height: 75px;
    width: 50%;
}
.image>img{
    height: 50%;
    align-items: center;
}
.after{
    display: none;
}
.col-50>h4{
    color: white;
}
.col-50>ul{
    list-style-type: none;
}
li:hover{
    color: white;
    font-weight: 800;
}
button:hover{
    padding: 15px 50px;
}
.col:hover img{
    opacity: 0.5;
    background-image:url(../img/circle-play-regular.svg)
}
/* MEDIA QUERY */
@media screen and (min-width: 768px){
    #sidebar{
        width: 200px;
    }
    #main{
        width: calc(100vw - 200px);
    }
    .col-25{
        height: calc(50% / 2);
        width: 100%;
    }
    .after{
        display: block;
    }
    .col-25>img{
        width: 25%;
        padding:5px 10px
    }
}
@media screen and (min-width: 991px){
   
    .main content, .col{
        width: calc(100% / 4 - 20px);
    }
}
@media screen and (min-width: 1200px){
    .main content, .col{
        width: calc(100% / 6 - 20px);
    }
}